*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
     background-color: rgb(244, 246, 248)
}

.form{
    margin: auto;
    width: 500px;
    height: 600px;
    background-color: white;
    padding: 20px;
    box-shadow:0 0 30px rgb(99, 96, 96);
    font-family: sans-serif;
}

.form h2{
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.form label{
    margin-top: 20px;
}


.field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
}
.field p{
    margin-left: 80px;
    margin-top: 20px;
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border: 2px solid rgb(183, 179, 179);
    font-family: sans-serif;
    font-weight: 500;

}
.input{
    height: 35px;
    border: 2px solid rgb(187, 182, 182);
    border-radius: 4px;
    padding: 5px;
    /* margin-bottom: 20px; */
   
    /* margin-bottom: 2px; */
}

.error{
    color: red;
    font-size: 12px;
    /* margin-top: 1px; */
}

.success{
    color: green;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}

.submit-btn{
    width: 50%;
    height: 40px;
    margin-left: 120px;
    background-color: rgb(92, 219, 92);
    font-size: large;
    border: 2px solid rgb(92, 219, 92)  ;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
}

.submit-btn a{
    text-decoration: none;
    color: white;
}
