*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000; 
    padding: 10px; 
    background-color: white;
    
}

body{
    overflow-x: hidden;
}



.logo{
    height: 50px;
    width: 130px;
    background-size: cover;
    margin-left: 10px;
}
.searchbar{
    display: flex;
    margin-left: 250px;
}
.input{
    width: 500px;
    height: 40px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   border: 1px solid rgb(184, 182, 182);
   padding: 15px;
}
.icon{
    height: 40px;
    width: 70px;
    background-color: rgb(231, 234, 234);
    padding-left: 20px;
    padding-top: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.micro{
    height: 40px;
    width: 40px;
    background-color:rgb(231, 234, 234);
    padding-top: 8px;
    padding-left: 9px;

    border-radius: 50%;
    margin-left: 5px;
}

.right{
    display: flex;
    gap: 15px;
    margin-left: 230px;
    align-items: center;
}

.create{
    background-color: rgb(231, 234, 234);
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 40px;
    font-weight: bold;
  
}

.bell{
     height: 40px;
    width: 40px;
    background-color:rgb(231, 234, 234);
    padding: 9px 9px;
    border-radius: 50%;
}

.profile-img{
    height: 50px;
    width: 50px;
    background-color:rgb(231, 234, 234);
    padding: 9px 9px;
    border-radius: 50%;
}
.card{
    margin-top: 30px;
    width: 400px;
    border: none;
}
.new{
    margin-top: 90px;
    margin-left: 180px;
    padding: 20px;
}

.videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card-img-top{
    width:400px;
    border-radius: 6px;
}

.card-body{
    width: 400px;
    
}

.card-text{
    font-size: 18px;
    font-weight: 500;
}

.short-text{
    margin-left: 50px;
    margin-top: 20px;
}

.short_logo{
    width: 100px;
    height: 60px;
    background-size: contain;
}

.shorts{
    width: 98%;
    height: 430px;
    margin-top: 20px;
    margin-left:50px;
    display: flex;
    gap: 15px;
}
.card-img-top1{
    width: 200px;
    height: 350px;
    border-radius: 7px;
}

.card-body1{
    width: 200px;

}


.sidebar{
    width: 180px;
    height: 100vh;
    margin-top: 90px;
    position: fixed;
    top: 0px;
    /* background-color: aquamarine; */
 
}

.rows{
    /* background-color: antiquewhite; */
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.home{
    display: flex;
    gap: 10px;
    align-items: center;    
}

.sideshorts{
    display: flex;
    gap: 10;
}

.sideshorts img{
    width: 20px;

}

